<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portafolio</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>


    <header class="hero">
        <div class="container">
            <nav class="nav">
                <a href="#ultimo" class="nav__items nav__items--cta">Contactanos</a>
                <a href="#primero" class="nav__items">Portafolios</a>
                <a href="#segundo" class="nav__items">Nuestros Clientes</a>
                 <a href="#cuarto" class="nav__items">Creador</a>
            </nav>

            <section class="hero__container">
                <div class="hero__text">
                    <h1 class="hero__title">Portafolios para Estudiantes</h1>
                    <h2 class="hero__subtitle">Interación de Usuarios con sus portafolios</h2>
                    <a href="/api/portafolio/usarios" class="hero__cta">Registrate</a>
                </div>
            </section>
        </div>
        <div class="hero__wave" style="overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>

    <main>
         <a name="primero"></a>
        <section class="presentation container">
            <img src="/images/imagen.jpg" alt="portafolios" class="presentation__picture">
            <h2 class="subtitle">Portafolios de Almacenamiento</h2>
            <p class="presentation__copy">
                Esta es una herramienta dedicada hacia estudiantes que deseen tener un lugar
                para almacenar su información acádemica, este sitio te proporcionara todas
                las herramientas necesarias para guardar tu información.
            </p>
            <a href="/api/portafolio/usarios" class="presentation__cta">Registrate</a>
        </section>
        <section class="about container">
            <div class="about__texts">
                <h2 class="subtitle"> Información </h2>
                <p class="about__paragraph">
                    Usted en este lugar prodra cumplir con todas las espectativas que esperaba
                    para almacenar su información
                </p>
                <p class="about__paragraph">
                    Usted en este lugar prodra cumplir con todas las espectativas que esperaba
                    para almacenar su información
                </p>
            </div>
            <figure class="about__img">
                <img src="/images/computadoras.jpg" alt="nuevo" class="about__picture">
            </figure>
            <figure class="about__img about__img--left">
                <img src="/images/ilustracion2.svg" alt="nuevo" class="about__picture">
            </figure>
            <div class="about__texts">
                <h2 class="subtitle"> Como Funcionamos </h2>
                <p class="about__paragraph">
                    Usted en este lugar prodra cumplir con todas las espectativas que esperaba
                    para almacenar su información
                </p>
                <p class="about__paragraph">
                    Usted en este lugar prodra cumplir con todas las espectativas que esperaba
                    para almacenar su información
                </p>
            </div>
        </section>

        <section class="projects">
            <a name="segundo"></a>
            <div class="container">
                <h2 class="subtitle">Nuestros Clientes</h2>
                <div class="projects__grid">
                    <article class="projects__items">
                        <img src="/images/img8.jpg" alt="imagen2" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Clientes</h2>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </article>
                    <article class="projects__items">
                        <img src="/images/img9.jpg" alt="imagen2" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Clientes</h2>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </article>
                    <article class="projects__items">
                        <img src="/images/img10.jpg" alt="imagen2" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Clientes</h2>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </article>
                    <article class="projects__items">
                        <img src="/images/img11.jpg" alt="imagen2" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Clientes</h2>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </article>
                     <article class="projects__items">
                        <img src="/images/img13.jpg" alt="imagen2" class="projects__img">
                        <div class="projects__hover">
                            <h2 class="projects__title">Clientes</h2>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="testimony container">
            <a name="cuarto"></a>
            <h2 class="subtitle">Creador de Portafolios</h2>

            <div class="testimony__grid">
                <article class="testimony__item">
                    <div class="testimony__person">
                        <img src="/images/img12.jpg" alt="usuarios" class="testimony__img">
                        <div class="testimony__texts">
                            <h3 class="testimony__name">Bryan Cachimuel</h3>
                            <p class="testimony__verification">Creador de Aplicación</p>
                        </div>
                    </div>
                    <p class="testimony__review">Me complace entregar a los usuarios este producto ya que los
                        ayudará a los estudiantes a almacenar su información de una manera adecuada y con todas
                        las prestaciones posibles
                    </p>
                </article>
            </div>
        </section>
    </main>

    <footer class="footer">
        <a name="ultimo"></a>
        <div class="container footer__grid">
            <nav class="nav nav--footer">
                <a class="nav__items nav__items--footer" href="#">Inicio</a>
                <a class="nav__items nav__items--footer" href="#">Sobre mi</a>
                <a class="nav__items nav__items--footer" href="#">Mis skills</a>
                <a class="nav__items nav__items--footer" href="#">Proyectos</a>
            </nav>

            <section class="footer__contact">
                <h3 class="footer__title">Contactame</h3>
                <div class="footer__icons">
                    <span class="footer__container-icons">
                        <a class="fa fa-facebook-square footer__icon" aria-hidden="true" href="#"></a>
                    </span>
                    <span class="footer__container-icons">
                        <a class="fa fa-twitter-square footer__icon" aria-hidden="true" href="#"></a>
                    </span>
                    <span class="footer__container-icons">
                        <a class="fa fa-whatsapp footer__icon" aria-hidden="true" href="#"></a>
                    </span>
                </div>
            </section>
        </div>
               <div class="line">
                       <h2 class="titulo-final">&copy; RixlerCorp | Bryan Cachimuel</h2>
               </div>
         
    
    </footer>









</body>

</html>